spring:
  application:
    name: "help-desk"

  datasource:
    url: "jdbc:postgresql://localhost:5435/postgres"
    username: "postgres"
    password: "root"
    driver-class-name: "org.postgresql.Driver"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  ai:
    ollama:
      base-url: "http://localhost:11434"
      chat:
        options:
          model: "llama3.1:latest"
          temperature: 0.5
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: ALWAYS

  profiles:
    active: dev

  logging:
    level:
      org:
        springframework:
          ai:
            chat:
              client:
                advisor: DEBUG
